/* You can add global styles to this file, and also import other style files */

* {
  font-size: 12px;
}

html,
body {
  height: 100%;
  font-family: 'BentonSans-Book', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

.mat-select-value {
  margin-left: 0.25rem;
  padding-right: 1rem;
  border-right: 1px solid gainsboro;
}
