.container {
  background: white;
  font-size: 12px;
  padding: 0rem;
}

.white-background {
  background: white;
}

.param-name {
  font-size: 12px;
  margin-bottom: 0.25rem;
}

.parameter-step {
  padding: 0rem;
  min-width: 0rem;
  line-height: normal;
}

.previous-parameter-step {
  margin-right: 0.25rem;
}

.next-parameter-step {
  margin-left: 0.25rem;
}

.play-controls {
  margin-bottom: 0.25rem;
}

mat-select {
  border: 1px solid gainsboro;
  max-width: 7rem;
}

button {
  border-radius: 0rem;
}

.configure-text {
  margin-left: 0.25rem;
}

.param-values {
  max-width: 12rem;
}
