<div class="fs-6 container px-1 overflow-hidden">
  <div class="row mb-1">
    <div class="col-auto">
      <span class="fw-bold" aria-label="Current parameter name">{{ currentParamName }}:</span>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Previous parameter step button">
        <i class="bi bi-chevron-left" aria-label="Chevron left icon"></i>
      </button>
    </div>

    <div class="col-auto">
      <select class="form-select cursor-pointer" aria-label="Select parameter value" [value]="currentParamValue">
        <option *ngFor="let value of paramValues" [value]="value">{{ value }}</option>
      </select>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Next parameter step button">
        <i class="bi bi-chevron-right" aria-label="Chevron right icon"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr class="my-2" />
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Flip parameters backwards button">
        <i class="bi bi-caret-left-fill" aria-label="Caret left icon"></i>
      </button>
    </div>

    <div class="col-auto">
      <button
        *ngIf="!currentlyPlaying; else stopPlayback"
        type="button"
        class="btn btn-outline-secondary"
        aria-label="Play button"
        (click)="startStopPlayback()"
      >
        <i class="bi bi-play" aria-label="Play icon"></i>
      </button>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Flip parameters forwards button">
        <i class="bi bi-caret-right-fill" aria-label="Caret right icon"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-auto">
      <div ngbDropdown class="d-inline-block" container="body">
        <button
          type="button"
          class="btn btn-outline-secondary"
          id="configureForm"
          aria-label="Configure dropdown button"
          ngbDropdownToggle
        >
          Configure
        </button>

        <div ngbDropdownMenu aria-labelledby="configureForm" class="overflow-hidden">
          <div class="row">
            <div class="col-auto">
              <span>CONFIGURE MENU GOES HERE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #stopPlayback>
  <button type="button" class="btn btn-outline-secondary" aria-label="Stop button" (click)="startStopPlayback()">
    <i class="bi bi-stop-fill" aria-label="Stop icon"></i>
  </button>
</ng-template>
