<div class="fs-6 container px-1 overflow-hidden">
  <div class="row mb-1">
    <div class="col-auto">
      <span class="fw-bold" aria-label="Current parameter name">{{ currentParamName }}:</span>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Previous parameter step button">
        <i class="bi bi-chevron-left" aria-label="Chevron left icon"></i>
      </button>
    </div>

    <div class="col-auto">
      <select class="form-select cursor-pointer" aria-label="Select parameter value" [value]="currentParamValue">
        <option *ngFor="let value of paramValues" [value]="value">{{ value }}</option>
      </select>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Next parameter step button">
        <i class="bi bi-chevron-right" aria-label="Chevron right icon"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr class="my-2" />
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Flip parameters backwards button">
        <i class="bi bi-caret-left-fill" aria-label="Caret left icon"></i>
      </button>
    </div>

    <div class="col-auto">
      <button
        *ngIf="!currentlyPlaying; else stopPlayback"
        type="button"
        class="btn btn-outline-secondary"
        aria-label="Play button"
        (click)="startStopPlayback()"
      >
        <i class="bi bi-play" aria-label="Play icon"></i>
      </button>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" aria-label="Flip parameters forwards button">
        <i class="bi bi-caret-right-fill" aria-label="Caret right icon"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-auto">
      <div ngbDropdown class="d-inline-block" container="body">
        <button
          type="button"
          class="btn btn-outline-secondary"
          id="configureForm"
          aria-label="Configure dropdown button"
          ngbDropdownToggle
        >
          Configure
        </button>

        <div ngbDropdownMenu aria-labelledby="configureForm" class="overflow-hidden">
          <div class="row">
            <div class="col-auto">
              <form [formGroup]="paramForm">
                <div class="form-group">
                  <label for="parameter" class="form-label">Parameter:</label>
                  <select
                    class="form-select cursor-pointer"
                    id="parameter"
                    aria-label="Select active parameter"
                    (change)="updateCurrentParam($event)"
                    formControlName="parameter"
                  >
                    <option *ngFor="let param of params" [value]="param">{{ param }}</option>
                  </select>

                  <label for="flip-duration" class="form-label">Flip Duration:</label>
                  <input id="flip-duration" type="number" class="form-control" formControlName="flipDuration" min="0" />

                  <label for="flip-duration" class="form-label">Step Size:</label>
                  <input id="flip-duration" type="number" class="form-control" formControlName="stepSize" min="0" />

                  <label for="min-val" class="form-label">Minimum Value:</label>
                  <input id="min-val" type="number" class="form-control" formControlName="minVal" />

                  <label for="max-val" class="form-label">Maximum Value:</label>
                  <input id="max-val" type="number" class="form-control" formControlName="maxVal" />

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="loop" formControlName="loop" />
                    <label class="form-check-label" for="loop">Loop indefinitely</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #stopPlayback>
  <button type="button" class="btn btn-outline-secondary" aria-label="Stop button" (click)="startStopPlayback()">
    <i class="bi bi-stop-fill" aria-label="Stop icon"></i>
  </button>
</ng-template>
